<div class="container">
  <h1>Login here!</h1>
  <form [formGroup]="formGrp">
    <div
      class="login-dialog shadow p-3 mb-5 bg-body rounded animate__backInDown"
    >
      <div style="margin-bottom: 5px;" class="input-group mb-6 has-validation">
        <span class="input-group-text" id="basic-addon1">
          <i class="icon ion-md-send"></i>
        </span>
        <input
        formControlName="email"
          type="email"
          class="form-control"
          placeholder="name@example.com"
        />
      </div>
      <div class="error" *ngIf="form.email.hasError('required') && form.email.touched">Email Cannot be blank</div>
      <div class="error" *ngIf="form.email.hasError('email') && form.email.touched">Email format is incorrect</div>
      <div class="input-group mb-6 has-validation">
        <span class="input-group-text" id="basic-addon1">
          <i class="icon ion-md-eye" (click)="togglePassword()"></i>
        </span>
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          formControlName="password"
        />
      </div>
      <span class="error" *ngIf="form.password.hasError('minLength') && form.password.touched" >Password must be minimum of 6 character</span>
      <button
        style="margin-top: 15px"
        type="button"
        class="btn btn-primary"
        (click)="login()"
        id="login"
      >
        Login
        <i class="bi bi-box-arrow-in-right"></i>
      </button>
    </div>
  </form>
</div>
