<div class="container">
  <h1>Login here!</h1>
  <div>
    <div
      class="login-dialog shadow p-3 mb-5 bg-body rounded animate__backInDown"
    >
      <div style="margin-bottom: 5px;" class="input-group mb-6 has-validation">
        <span class="input-group-text" id="basic-addon1">
          <i class="icon ion-md-send"></i>
        </span>
        <input
        #email
          type="email"
          class="form-control"
          id="email"
          placeholder="name@example.com"
        />
        <span class="invalid-feedback" id="err_email"></span>
      </div>
      <div class="input-group mb-6 has-validation">
        <span class="input-group-text" id="basic-addon1">
          <i class="icon ion-md-eye" (click)="togglePassword()"></i>
        </span>
        <input
        #pass
          type="password"
          class="form-control"
          id="password"
          placeholder="Password"
        />
        <span class="invalid-feedback" id="err_email"></span>
      </div>

      <button
        style="margin-top: 15px"
        type="button"
        class="btn btn-primary"
        (click)="login(email,pass)"
        id="login"
      >
        Login
        <i class="bi bi-box-arrow-in-right"></i>
      </button>
    </div>
  </div>
</div>
