<div class="btn-group" role="group" aria-label="Basic example" style="margin:20px">
  <button type="button" class="btn btn-primary" routerLink="/add-course">Add Course</button>
  <button type="button" class="btn btn-primary">Edit Course</button>
  <button type="button" class="btn btn-primary">Disable Course</button>
</div>

<table class="table table-hover">
    <thead>
        <tr>
          <th scope="col">Sr No</th>
          <th scope="col">Course Name</th>
          <th scope="col">Description</th>
          <th scope="col">Duration</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of courses; let i=index">
          <th scope="row">{{i + 1}}</th>
          <td>{{c.name}}</td>
          <td>{{c.description}}</td>
          <td>{{c.duration}}</td>
          <td>{{c.price}}</td>
        </tr>
      </tbody>    
</table>

<hr>
